.ng-valid:not(form){
border-left: 5px solid green;
}

.ng-invalid:not(form){
border-left: 5px solid red;
}
.img-cont{
    margin: auto;
    margin-top: 110px;
    height: 100px;
    width: 100px;
    background: url(../../../assets/posta.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.error{
    color: red;
    font-size: small;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group{
    margin: auto;
    margin-bottom: 15px;
}
button {
  width: 200px;
  background-color: rgb(146, 146, 146);
}